<?xml version='1.0' encoding='utf-8'?>

<widget id="com.cycrosoft.kademvakfi"
version="1.0.6"
xmlns="http://www.w3.org/ns/widgets"
xmlns:cdv="http://cordova.apache.org/ns/1.0"
xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Kadem Vakfi</name>
    <description>
       Şahsiyet Düşünce Ve İfade
    </description>
    <author email="Cycrosoft@gmail.com" href="http://cordova.io">
        Cycrosoft Team
    </author>
    <content src="index.html" />

    <preference name="Fullscreen" value="true" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
    </platform>
    <!--platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform-->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="permissions" value="none" />
	
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
	
    <access origin="*" subdomains="true" />
    <access origin="https://www.google.de" subdomains="true" />
    <access origin="https://www.google.com" subdomains="true" />
    <access origin="http://www.google.com" subdomains="true" />
    <access origin="http://www.google.com" subdomains="true" />
    <access origin="*" />
	
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
		
    <feature name="http://api.phonegap.com/1.0/network" />
</widget>
